<a href="https://colab.research.google.com/github/sohaildua/PysparkLearning/blob/main/append_and_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark
!pip install -U -q PyDrive --quiet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 42.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=312add5d50f21900a2f49f2ee78dddc8616a2d772e4385d2e537994c82051856
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("appendjoin").getOrCreate()
spark

In [3]:
valuesP = [('koala',1,'yes'),('caterpillar',2,'yes'),('deer',3,'yes'),('human',4,'yes')]
eats_plants = spark.createDataFrame(valuesP,['name','id','eats_plants'])

valuesM = [('shark',5,'yes'),('lion',6,'yes'),('tiger',7,'yes'),('human',4,'yes')]
eats_meat = spark.createDataFrame(valuesM,['name','id','eats_meat'])

print("Plant eaters (herbivores)")
print(eats_plants.show())
print("Meat eaters (carnivores)")
print(eats_meat.show())

Plant eaters (herbivores)
+-----------+---+-----------+
|       name| id|eats_plants|
+-----------+---+-----------+
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
+-----------+---+-----------+

None
Meat eaters (carnivores)
+-----+---+---------+
| name| id|eats_meat|
+-----+---+---------+
|shark|  5|      yes|
| lion|  6|      yes|
|tiger|  7|      yes|
|human|  4|      yes|
+-----+---+---------+

None

In [29]:
new_df = eats_plants

NameError: ignored

In [7]:
df_append = eats_plants.union(new_df)

In [8]:
df_append.show()

+-----------+---+-----------+
|       name| id|eats_plants|
+-----------+---+-----------+
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
+-----------+---+-----------+

In [9]:
eats_plants.show()

+-----------+---+-----------+
|       name| id|eats_plants|
+-----------+---+-----------+
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
+-----------+---+-----------+

In [11]:
#innerjoin
inner_join= eats_plants.join(eats_meat,["name","id"],"inner").show()

+-----+---+-----------+---------+
| name| id|eats_plants|eats_meat|
+-----+---+-----------+---------+
|human|  4|        yes|      yes|
+-----+---+-----------+---------+

In [ ]:
#left_join

In [12]:
left_join= eats_plants.join(eats_meat,["name","id"],"left").show()

+-----------+---+-----------+---------+
|       name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|      koala|  1|        yes|     null|
|caterpillar|  2|        yes|     null|
|       deer|  3|        yes|     null|
|      human|  4|        yes|      yes|
+-----------+---+-----------+---------+

In [13]:
right_join= eats_plants.join(eats_meat,["name","id"],"right").show()

+-----+---+-----------+---------+
| name| id|eats_plants|eats_meat|
+-----+---+-----------+---------+
|shark|  5|       null|      yes|
| lion|  6|       null|      yes|
|human|  4|        yes|      yes|
|tiger|  7|       null|      yes|
+-----+---+-----------+---------+

In [14]:
full_join= eats_plants.join(eats_meat,["name","id"],"full").show()

+-----------+---+-----------+---------+
|       name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|caterpillar|  2|        yes|     null|
|       deer|  3|        yes|     null|
|      human|  4|        yes|      yes|
|      koala|  1|        yes|     null|
|       lion|  6|       null|      yes|
|      shark|  5|       null|      yes|
|      tiger|  7|       null|      yes|
+-----------+---+-----------+---------+

In [17]:
left_join= eats_plants.join(eats_meat,["name","id"],"left").filter(eats_meat.id.isNull()).show() #id or name both work

+-----------+---+-----------+---------+
|       name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|      koala|  1|        yes|     null|
|caterpillar|  2|        yes|     null|
|       deer|  3|        yes|     null|
+-----------+---+-----------+---------+

In [21]:
import os

In [22]:
print(os.listdir('/content'))

['.config', 'schedules.csv', 'grade_distributions.csv', 'sections.csv', 'courses.csv', 'teachings.csv', 'course_offerings.csv', 'subjects.csv', 'subject_memberships.csv', 'rooms.csv', '.ipynb_checkpoints', 'database.sqlite3', 'instructors.csv']

In [31]:
df_list =[]
for filename in os.listdir('/content/'):
  if filename.endswith(".csv"):
    filename_lst = filename.split(".")
    df_name = filename_lst[0]
    df = spark.read.csv('/content/'+filename,inferSchema=True,header=True)
    df.name=df_name
    df_list.append(df_name)
    exec(df_name+ ' = df')

In [32]:
df_list

['schedules',
 'grade_distributions',
 'sections',
 'courses',
 'teachings',
 'course_offerings',
 'subjects',
 'subject_memberships',
 'rooms',
 'instructors']

In [33]:
schedules.show()

+--------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
|                uuid|start_time|end_time|  mon| tues|  wed|thurs|  fri|  sat|  sun|
+--------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
|f2d66a4d-0c08-3b4...|        -1|      -1|false|false|false|false|false|false|false|
|875542a2-f786-34d...|       530|     580| true|false| true|false|false|false|false|
|f41f1e4d-cb4f-3de...|       660|     710|false| true|false| true|false|false|false|
|46da55a4-17f7-31a...|       800|     850|false| true|false| true|false|false|false|
|8c7cd81e-4f81-357...|       725|     775|false| true|false| true|false|false|false|
|76c82895-6420-3a2...|       800|     850| true|false| true|false|false|false|false|
|88ad9821-70fb-382...|       660|     760|false|false| true|false|false|false|false|
|d81c681b-958c-3b1...|       865|     915| true|false| true|false|false|false|false|
|9fe9fc2a-fdfa-36b...|       660|     760| true|false|false|false|false|false|false|
|99c6bbc5-fb31-356...|       595|     645| true|false| true|false|false|false|false|
|f022ea9c-ee92-302...|       660|     760|false|false|false|false| true|false|false|
|eb229c80-319d-3c8...|       800|     900| true|false|false|false|false|false|false|
|ce61f856-0774-398...|       930|     980| true|false| true|false|false|false|false|
|566badf2-c44f-3e4...|       870|     920|false| true|false| true|false|false|false|
|f82cce91-8cbd-359...|      1040|    1090| true|false| true|false|false|false|false|
|dc1a042d-2e0b-3aa...|      1040|    1140|false|false|false| true|false|false|false|
|b00bd9e3-27c0-3d9...|       595|     645|false| true|false| true|false|false|false|
|e33a173f-d936-32b...|       530|     580|false|false|false|false| true|false|false|
|57d572b8-9285-38e...|       530|     580|false|false| true|false| true|false|false|
|777eb31b-cba1-3a3...|       930|     980|false| true|false| true|false|false|false|
+--------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows