<a href="https://colab.research.google.com/github/sohaildua/PysparkLearning/blob/main/append_and_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
!pip install pyspark
!pip install -U -q PyDrive --quiet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [35]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("appendjoin").getOrCreate()
spark

In [36]:
valuesP = [('koala',1,'yes'),('caterpillar',2,'yes'),('deer',3,'yes'),('human',4,'yes')]
eats_plants = spark.createDataFrame(valuesP,['name','id','eats_plants'])

valuesM = [('shark',5,'yes'),('lion',6,'yes'),('tiger',7,'yes'),('human',4,'yes')]
eats_meat = spark.createDataFrame(valuesM,['name','id','eats_meat'])

print("Plant eaters (herbivores)")
print(eats_plants.show())
print("Meat eaters (carnivores)")
print(eats_meat.show())

Plant eaters (herbivores)
+-----------+---+-----------+
|       name| id|eats_plants|
+-----------+---+-----------+
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
+-----------+---+-----------+

None
Meat eaters (carnivores)
+-----+---+---------+
| name| id|eats_meat|
+-----+---+---------+
|shark|  5|      yes|
| lion|  6|      yes|
|tiger|  7|      yes|
|human|  4|      yes|
+-----+---+---------+

None

In [37]:
new_df = eats_plants

In [38]:
df_append = eats_plants.union(new_df)

In [39]:
df_append.show()

+-----------+---+-----------+
|       name| id|eats_plants|
+-----------+---+-----------+
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
+-----------+---+-----------+

In [40]:
eats_plants.show()

+-----------+---+-----------+
|       name| id|eats_plants|
+-----------+---+-----------+
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
+-----------+---+-----------+

In [41]:
#innerjoin
inner_join= eats_plants.join(eats_meat,["name","id"],"inner").show()

+-----+---+-----------+---------+
| name| id|eats_plants|eats_meat|
+-----+---+-----------+---------+
|human|  4|        yes|      yes|
+-----+---+-----------+---------+

In [42]:
#left_join

In [43]:
left_join= eats_plants.join(eats_meat,["name","id"],"left").show()

+-----------+---+-----------+---------+
|       name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|      koala|  1|        yes|     null|
|caterpillar|  2|        yes|     null|
|       deer|  3|        yes|     null|
|      human|  4|        yes|      yes|
+-----------+---+-----------+---------+

In [44]:
right_join= eats_plants.join(eats_meat,["name","id"],"right").show()

+-----+---+-----------+---------+
| name| id|eats_plants|eats_meat|
+-----+---+-----------+---------+
|shark|  5|       null|      yes|
| lion|  6|       null|      yes|
|human|  4|        yes|      yes|
|tiger|  7|       null|      yes|
+-----+---+-----------+---------+

In [45]:
full_join= eats_plants.join(eats_meat,["name","id"],"full").show()

+-----------+---+-----------+---------+
|       name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|caterpillar|  2|        yes|     null|
|       deer|  3|        yes|     null|
|      human|  4|        yes|      yes|
|      koala|  1|        yes|     null|
|       lion|  6|       null|      yes|
|      shark|  5|       null|      yes|
|      tiger|  7|       null|      yes|
+-----------+---+-----------+---------+

In [46]:
left_join= eats_plants.join(eats_meat,["name","id"],"left").filter(eats_meat.id.isNull()).show() #id or name both work

+-----------+---+-----------+---------+
|       name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|      koala|  1|        yes|     null|
|caterpillar|  2|        yes|     null|
|       deer|  3|        yes|     null|
+-----------+---+-----------+---------+

In [47]:
import os

In [22]:
print(os.listdir('/content'))

['.config', 'schedules.csv', 'grade_distributions.csv', 'sections.csv', 'courses.csv', 'teachings.csv', 'course_offerings.csv', 'subjects.csv', 'subject_memberships.csv', 'rooms.csv', '.ipynb_checkpoints', 'database.sqlite3', 'instructors.csv']

In [31]:
df_list =[]
for filename in os.listdir('/content/'):
  if filename.endswith(".csv"):
    filename_lst = filename.split(".")
    df_name = filename_lst[0]
    df = spark.read.csv('/content/'+filename,inferSchema=True,header=True)
    df.name=df_name
    df_list.append(df_name)
    exec(df_name+ ' = df')

In [48]:
df_list

['schedules',
 'grade_distributions',
 'sections',
 'courses',
 'teachings',
 'course_offerings',
 'subjects',
 'subject_memberships',
 'rooms',
 'instructors']

In [50]:
schedules.show()

+--------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
|                uuid|start_time|end_time|  mon| tues|  wed|thurs|  fri|  sat|  sun|
+--------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
|f2d66a4d-0c08-3b4...|        -1|      -1|false|false|false|false|false|false|false|
|875542a2-f786-34d...|       530|     580| true|false| true|false|false|false|false|
|f41f1e4d-cb4f-3de...|       660|     710|false| true|false| true|false|false|false|
|46da55a4-17f7-31a...|       800|     850|false| true|false| true|false|false|false|
|8c7cd81e-4f81-357...|       725|     775|false| true|false| true|false|false|false|
|76c82895-6420-3a2...|       800|     850| true|false| true|false|false|false|false|
|88ad9821-70fb-382...|       660|     760|false|false| true|false|false|false|false|
|d81c681b-958c-3b1...|       865|     915| true|false| true|false|false|false|false|
|9fe9fc2a-fdfa-36b...|       660|     760| true|false|false|false|false|false|false|
|99c6bbc5-fb31-356...|       595|     645| true|false| true|false|false|false|false|
|f022ea9c-ee92-302...|       660|     760|false|false|false|false| true|false|false|
|eb229c80-319d-3c8...|       800|     900| true|false|false|false|false|false|false|
|ce61f856-0774-398...|       930|     980| true|false| true|false|false|false|false|
|566badf2-c44f-3e4...|       870|     920|false| true|false| true|false|false|false|
|f82cce91-8cbd-359...|      1040|    1090| true|false| true|false|false|false|false|
|dc1a042d-2e0b-3aa...|      1040|    1140|false|false|false| true|false|false|false|
|b00bd9e3-27c0-3d9...|       595|     645|false| true|false| true|false|false|false|
|e33a173f-d936-32b...|       530|     580|false|false|false|false| true|false|false|
|57d572b8-9285-38e...|       530|     580|false|false| true|false| true|false|false|
|777eb31b-cba1-3a3...|       930|     980|false| true|false| true|false|false|false|
+--------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

In [54]:
step1 = teachings.join(instructors ,teachings.instructor_id == instructors.id ,'left').select("instructor_id","section_uuid","name")

In [55]:
step1.show()

+-------------+--------------------+----------------+
|instructor_id|        section_uuid|            name|
+-------------+--------------------+----------------+
|       761703|45adf63c-48c9-365...|JOHN ARCHAMBAULT|
|       761703|c6280e23-5e43-385...|JOHN ARCHAMBAULT|
|       761703|9395dc21-15d1-3fa...|JOHN ARCHAMBAULT|
|      3677061|b99e440b-39db-350...|  STEPHANIE KANN|
|       761703|ca1c841f-41d5-329...|JOHN ARCHAMBAULT|
|      3677061|da41b0aa-2b81-378...|  STEPHANIE KANN|
|       761703|51c4dc00-1fc7-3c7...|JOHN ARCHAMBAULT|
|       761703|53f95c0f-4ea9-374...|JOHN ARCHAMBAULT|
|       761703|574d9b35-9c76-338...|JOHN ARCHAMBAULT|
|       761703|8fc362a6-d94e-3ad...|JOHN ARCHAMBAULT|
|       761703|d50e7478-e12f-363...|JOHN ARCHAMBAULT|
|       761703|b21564d2-2bc4-3b8...|JOHN ARCHAMBAULT|
|       788586|8853d23e-64b1-3cf...|      KATHY PREM|
|       788586|94339199-eaf3-393...|      KATHY PREM|
|       761703|0d72958a-291b-33d...|JOHN ARCHAMBAULT|
|       761703|dfb55b25-ac7a-366...|JOHN ARCHAMBAULT|
|       761703|27be2077-fd69-3a2...|JOHN ARCHAMBAULT|
|       761703|56ef2b0f-0776-309...|JOHN ARCHAMBAULT|
|      3677061|ad67e659-fbf4-32a...|  STEPHANIE KANN|
|      3677061|e80fe1ab-6b0b-32d...|  STEPHANIE KANN|
+-------------+--------------------+----------------+
only showing top 20 rows

In [62]:
step2 = step1.join(sections, step1.section_uuid== sections.uuid,'left').select("name","course_offering_uuid")

In [63]:
step2.show(5,False)

+----------------+------------------------------------+
|name            |course_offering_uuid                |
+----------------+------------------------------------+
|JAMES CLEARY    |051f4e0c-983c-322c-a28b-51f461c662c8|
|JAMES CLEARY    |051f4e0c-983c-322c-a28b-51f461c662c8|
|JAMES CLEARY    |051f4e0c-983c-322c-a28b-51f461c662c8|
|STEPHANIE KANN  |ea3b717c-d66b-30dc-8b37-964d9688295f|
|JOHN ARCHAMBAULT|f718e6cd-33f0-3c14-a9a6-834d9c3610a8|
+----------------+------------------------------------+
only showing top 5 rows

In [65]:
from pyspark.sql.functions import *
step2 =step2.withColumnRenamed('name','instructor')

In [66]:
step2.show()

+----------------+--------------------+
|      instructor|course_offering_uuid|
+----------------+--------------------+
|    JAMES CLEARY|051f4e0c-983c-322...|
|JOHN ARCHAMBAULT|b3e26604-fe6e-30d...|
|    JAMES CLEARY|051f4e0c-983c-322...|
|JOHN ARCHAMBAULT|e100d196-5e82-32e...|
|    JAMES CLEARY|051f4e0c-983c-322...|
|    JAMES CLEARY|07a83850-5716-364...|
|JOHN ARCHAMBAULT|075da420-5f49-3dd...|
|JOHN ARCHAMBAULT|075da420-5f49-3dd...|
|JOHN ARCHAMBAULT|e100d196-5e82-32e...|
|JOHN ARCHAMBAULT|2b4e216d-a728-371...|
|    JAMES CLEARY|051f4e0c-983c-322...|
|  STEPHANIE KANN|76b9c458-d3c2-38c...|
|    JAMES CLEARY|051f4e0c-983c-322...|
|JOHN ARCHAMBAULT|2b4e216d-a728-371...|
|    JAMES CLEARY|ff3d0b20-b5a4-338...|
|  STEPHANIE KANN|e100d196-5e82-32e...|
|JOHN ARCHAMBAULT|ff511882-5eab-3e7...|
|  STEPHANIE KANN|ea3b717c-d66b-30d...|
|JOHN ARCHAMBAULT|f718e6cd-33f0-3c1...|
|JOHN ARCHAMBAULT|ea3b717c-d66b-30d...|
+----------------+--------------------+
only showing top 20 rows

In [68]:
step3= step2.join(course_offerings,step2.course_offering_uuid==course_offerings.uuid,'inner')

In [69]:
step3.show()

+--------------------+--------------------+--------------------+--------------------+---------+--------------------+
|          instructor|course_offering_uuid|                uuid|         course_uuid|term_code|                name|
+--------------------+--------------------+--------------------+--------------------+---------+--------------------+
|     MICHAEL CONNORS|128f24cf-b7bf-3a8...|128f24cf-b7bf-3a8...|1f7cc0a1-e94f-37b...|     1154|      Special Topics|
|         ANDREW PHAM|c90ecf44-6564-302...|c90ecf44-6564-302...|e9d9ef4a-c72d-324...|     1122|Organic Chemistry...|
|     GREGREY HILTGEN|da9485eb-04d2-32b...|da9485eb-04d2-32b...|42d0805f-b851-3b5...|     1172|Clrk Fam&Comm Med...|
|        RICK JENISON|f513b3a7-9fdc-30f...|f513b3a7-9fdc-30f...|7fb80554-a997-3ee...|     1084|            Research|
|     SUSANNE BARNETT|9dcee3f1-0909-318...|9dcee3f1-0909-318...|1dfde01c-2e50-31d...|     1114|Advanced Independ...|
|          DAVID BROW|8c7e7127-c331-332...|8c7e7127-c331-332...|b68419cd-dff6-36e...|     1084|Smr-RiboGroup (Ad...|
|        EILEEN BURKE|3026d6be-c341-328...|3026d6be-c341-328...|f9c8f047-0915-375...|     1174|Intmed Organic Ch...|
|     JEANNE BOYDSTON|f7480aeb-f190-3c1...|f7480aeb-f190-3c1...|c4ea31e9-5260-302...|     1074|Advanced Seminar ...|
|      GAIL L. GEIGER|138e88d7-2f8b-373...|138e88d7-2f8b-373...|e5d10f39-fcc3-321...|     1152|Arts in 16th Cent...|
|      SUSAN HEIDRICH|d858901f-cdc0-34a...|d858901f-cdc0-34a...|fd28f0dc-bad1-3ff...|     1072|Essentials-Geront...|
|       TRACY IFTIKAR|5192e84c-43a7-318...|5192e84c-43a7-318...|519c01d1-5659-3d5...|     1134|ESL: Academic Wri...|
|          IAN DOBSON|1ac02905-0b13-306...|1ac02905-0b13-306...|64c83256-ecbb-318...|     1102|Intro-Random Sig ...|
|        THOMAS JAHNS|f850ab24-740c-311...|f850ab24-740c-311...|2c3a2a38-9f53-3cf...|     1074|Master's Research...|
|     CHENSHENG KUANG|94554e3c-7af8-3d3...|94554e3c-7af8-3d3...|0a79210e-443f-338...|     1154|Intro Math Sat (T...|
|      JERRY GOLDBERG|4f7c1ebb-7417-32e...|4f7c1ebb-7417-32e...|51553739-ef6e-314...|     1134|Clin Rheumatol Cl...|
|      NATHAN SHELTON|47d0acbb-5945-3c3...|47d0acbb-5945-3c3...|023773f7-4ead-37f...|     1142|Am Racial&Ethnic ...|
|         SUSAN YADRO|f72cf5b4-3895-33e...|f72cf5b4-3895-33e...|e6697792-07c1-31a...|     1144|Health Care: Intr...|
|JENNY OYALLON-KOL...|5d79f156-2fb1-36a...|5d79f156-2fb1-36a...|e77da687-7e88-33a...|     1112|Introduction to Film|
|     WILLIAM WOEHRLE|3dd5f845-5e06-31a...|3dd5f845-5e06-31a...|e995f6ec-004b-3e9...|     1112|     Weight Training|
|          STACEY LEE|45a766b9-7716-3c6...|45a766b9-7716-3c6...|42cddb5c-109e-351...|     1174|Methods-Qualitati...|
+--------------------+--------------------+--------------------+--------------------+---------+--------------------+
only showing top 20 rows

In [70]:
course_offerings.show(5)

+--------------------+--------------------+---------+--------------------+
|                uuid|         course_uuid|term_code|                name|
+--------------------+--------------------+---------+--------------------+
|344b3ebe-da7e-314...|a3e3e1c3-543d-3bb...|     1092|Cooperative Educa...|
|f718e6cd-33f0-3c1...|a3e3e1c3-543d-3bb...|     1082|Cooperative Educa...|
|ea3b717c-d66b-30d...|a3e3e1c3-543d-3bb...|     1172|Cooperative Educa...|
|075da420-5f49-3dd...|a3e3e1c3-543d-3bb...|     1114|Cooperative Educa...|
|2b4e216d-a728-371...|a3e3e1c3-543d-3bb...|     1104|Cooperative Educa...|
+--------------------+--------------------+---------+--------------------+
only showing top 5 rows

In [71]:
rooms.show(5)

+--------------------+-------------+---------+
|                uuid|facility_code|room_code|
+--------------------+-------------+---------+
|04368a56-c959-3e4...|   OFF CAMPUS|     null|
|2cc50da3-ef0e-357...|         0032|     0249|
|ebbf62b4-2ac3-356...|         0032|     B101|
|ed828265-475b-31b...|         0032|     0549|
|b277dc8e-bab1-3a1...|         0032|     0349|
+--------------------+-------------+---------+
only showing top 5 rows

In [73]:
sections.show()
#course_offerings.join(rooms,['uuid','facility_code','','',''])

+--------------------+--------------------+------------+------+--------------------+--------------------+
|                uuid|course_offering_uuid|section_type|number|           room_uuid|       schedule_uuid|
+--------------------+--------------------+------------+------+--------------------+--------------------+
|45adf63c-48c9-365...|344b3ebe-da7e-314...|         FLD|     1|                null|f2d66a4d-0c08-3b4...|
|c6280e23-5e43-385...|f718e6cd-33f0-3c1...|         FLD|     1|                null|f2d66a4d-0c08-3b4...|
|9395dc21-15d1-3fa...|ea3b717c-d66b-30d...|         FLD|     1|04368a56-c959-3e4...|f2d66a4d-0c08-3b4...|
|b99e440b-39db-350...|ea3b717c-d66b-30d...|         FLD|     1|                null|f2d66a4d-0c08-3b4...|
|ca1c841f-41d5-329...|ea3b717c-d66b-30d...|         FLD|     1|                null|f2d66a4d-0c08-3b4...|
|da41b0aa-2b81-378...|ea3b717c-d66b-30d...|         FLD|     1|04368a56-c959-3e4...|f2d66a4d-0c08-3b4...|
|51c4dc00-1fc7-3c7...|075da420-5f49-3dd...|         FLD|     1|04368a56-c959-3e4...|f2d66a4d-0c08-3b4...|
|53f95c0f-4ea9-374...|075da420-5f49-3dd...|         FLD|     1|                null|f2d66a4d-0c08-3b4...|
|574d9b35-9c76-338...|2b4e216d-a728-371...|         FLD|     1|                null|f2d66a4d-0c08-3b4...|
|8fc362a6-d94e-3ad...|2b4e216d-a728-371...|         FLD|     1|04368a56-c959-3e4...|f2d66a4d-0c08-3b4...|
|d50e7478-e12f-363...|87966a7b-f676-33d...|         FLD|     1|                null|f2d66a4d-0c08-3b4...|
|b21564d2-2bc4-3b8...|ff511882-5eab-3e7...|         FLD|     1|04368a56-c959-3e4...|f2d66a4d-0c08-3b4...|
|8853d23e-64b1-3cf...|ff511882-5eab-3e7...|         FLD|     1|04368a56-c959-3e4...|f2d66a4d-0c08-3b4...|
|94339199-eaf3-393...|ff511882-5eab-3e7...|         FLD|     1|                null|f2d66a4d-0c08-3b4...|
|0d72958a-291b-33d...|b3e26604-fe6e-30d...|         FLD|     1|                null|f2d66a4d-0c08-3b4...|
|dfb55b25-ac7a-366...|b3e26604-fe6e-30d...|         FLD|     1|04368a56-c959-3e4...|f2d66a4d-0c08-3b4...|
|27be2077-fd69-3a2...|e100d196-5e82-32e...|         FLD|     1|                null|f2d66a4d-0c08-3b4...|
|56ef2b0f-0776-309...|e100d196-5e82-32e...|         FLD|     1|04368a56-c959-3e4...|f2d66a4d-0c08-3b4...|
|ad67e659-fbf4-32a...|e100d196-5e82-32e...|         FLD|     1|04368a56-c959-3e4...|f2d66a4d-0c08-3b4...|
|e80fe1ab-6b0b-32d...|e100d196-5e82-32e...|         FLD|     1|                null|f2d66a4d-0c08-3b4...|
+--------------------+--------------------+------------+------+--------------------+--------------------+
only showing top 20 rows

In [74]:
df_list

['schedules',
 'grade_distributions',
 'sections',
 'courses',
 'teachings',
 'course_offerings',
 'subjects',
 'subject_memberships',
 'rooms',
 'instructors']

In [75]:
step1 = rooms.join(sections, rooms.uuid == sections.room_uuid, how='left').select([rooms.uuid,rooms.facility_code,sections.course_offering_uuid,'number'])
step1.limit(4).toPandas()

,uuid,facility_code,course_offering_uuid,number
0,04368a56-c959-3e4b-8b3d-f4cc3538fea5,OFF CAMPUS,ea3b717c-d66b-30dc-8b37-964d9688295f,1
1,04368a56-c959-3e4b-8b3d-f4cc3538fea5,OFF CAMPUS,ea3b717c-d66b-30dc-8b37-964d9688295f,1
2,04368a56-c959-3e4b-8b3d-f4cc3538fea5,OFF CAMPUS,075da420-5f49-3dd0-93df-13e3c152e1b1,1
3,04368a56-c959-3e4b-8b3d-f4cc3538fea5,OFF CAMPUS,2b4e216d-a728-3713-8c7c-19afffc6b2fd,1

In [76]:
step2 = step1.join(course_offerings, step1.course_offering_uuid == course_offerings.uuid, how='left').select([rooms.uuid,rooms.facility_code,'number','term_code','name'])
step2.limit(4).toPandas()

,uuid,facility_code,number,term_code,name
0,04368a56-c959-3e4b-8b3d-f4cc3538fea5,OFF CAMPUS,1,1172,Cooperative Education Prog
1,04368a56-c959-3e4b-8b3d-f4cc3538fea5,OFF CAMPUS,1,1172,Cooperative Education Prog
2,04368a56-c959-3e4b-8b3d-f4cc3538fea5,OFF CAMPUS,1,1114,Cooperative Education Prog
3,04368a56-c959-3e4b-8b3d-f4cc3538fea5,OFF CAMPUS,1,1104,Cooperative Education Prog

In [77]:
step3= step2.where(step2.facility_code == '0469')

In [78]:
step3.show()

+--------------------+-------------+------+---------+--------------------+
|                uuid|facility_code|number|term_code|                name|
+--------------------+-------------+------+---------+--------------------+
|2da69d83-787a-3b0...|         0469|    18|     1182|Intro to Speech C...|
|2da69d83-787a-3b0...|         0469|    23|     1172|Intro to College ...|
|2da69d83-787a-3b0...|         0469|     2|     1172|Intro to College ...|
|2da69d83-787a-3b0...|         0469|     9|     1164|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    16|     1164|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    12|     1154|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    18|     1154|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    20|     1154|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    29|     1162|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    25|     1162|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    51|     1162|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    41|     1162|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    17|     1162|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    29|     1152|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    17|     1152|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    13|     1174|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    23|     1174|Intro to College ...|
|2da69d83-787a-3b0...|         0469|    12|     1174|Intro to College ...|
|2da69d83-787a-3b0...|         0469|     3|     1144| Introduction to Art|
|2da69d83-787a-3b0...|         0469|   353|     1074|Introduction to P...|
+--------------------+-------------+------+---------+--------------------+
only showing top 20 rows

In [80]:
subject_memberships.show(1,False)

+------------+------------------------------------+
|subject_code|course_offering_uuid                |
+------------+------------------------------------+
|220         |344b3ebe-da7e-314c-83ed-9425269695fd|
+------------+------------------------------------+
only showing top 1 row

In [81]:
subjects.show(1,False)

+----+------------+------------+
|code|name        |abbreviation|
+----+------------+------------+
|908 |Soil Science|SOIL SCI    |
+----+------------+------------+
only showing top 1 row

In [82]:
sections.show(1,False)

+------------------------------------+------------------------------------+------------+------+---------+------------------------------------+
|uuid                                |course_offering_uuid                |section_type|number|room_uuid|schedule_uuid                       |
+------------------------------------+------------------------------------+------------+------+---------+------------------------------------+
|45adf63c-48c9-3659-8561-07556d2d4ddf|344b3ebe-da7e-314c-83ed-9425269695fd|FLD         |1     |null     |f2d66a4d-0c08-3b48-abf6-649fffd7ae90|
+------------------------------------+------------------------------------+------------+------+---------+------------------------------------+
only showing top 1 row

In [84]:
step1 = subjects.join(subject_memberships, subject_memberships.subject_code == subjects.code, how='inner').\
select('course_offering_uuid','code','name','abbreviation').show(1,False)

+------------------------------------+----+-----------------------------------+------------+
|course_offering_uuid                |code|name                               |abbreviation|
+------------------------------------+----+-----------------------------------+------------+
|344b3ebe-da7e-314c-83ed-9425269695fd|220 |Chemical and Biological Engineering|CBE         |
+------------------------------------+----+-----------------------------------+------------+
only showing top 1 row