<a href="https://colab.research.google.com/github/sohaildua/PysparkLearning/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark
!pip install -U -q PyDrive --quiet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 49.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=294f8d0c8fe890b5e52a4d5aebca6e289d63e9b8bbc858230405178813e4b136
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

Insatalling **Pyspark**

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ReadWriteVal").getOrCreate()
spark

In [3]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip &> /dev/null
!unzip ngrok-stable-linux-amd64.zip &> /dev/null
get_ipython().system_raw('./ngrok http 4050 &')

In [4]:
!curl -s http://localhost:4050/api/tunnels

In [29]:
cores = spark._jsc.sc().getExecutorMemoryStatus().keySet().size()
cores

1

In [5]:
students = spark.read.csv("students.csv",inferSchema=True, header=True)

In [33]:
students

DataFrame[gender: string, race/ethnicity: string, parental level of education: string, lunch: string, test preparation course: string, math score: int, reading score: int, writing score: int]

In [6]:
students.show(5)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 5 rows

In [7]:
students.limit(10).toPandas()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [8]:
parquet_data = spark.read.parquet("users1.parquet")

In [9]:
parquet_data.limit(10).toPandas()

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,
4,2016-02-03 05:05:31,5,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,NaN,,
5,2016-02-03 07:22:34,6,Kathryn,White,kwhite5@google.com,Female,195.131.81.179,3583136326049310,Indonesia,2/25/1983,69227.11,Account Executive,
6,2016-02-03 08:33:08,7,Samuel,Holmes,sholmes6@foxnews.com,Male,232.234.81.197,3582641366974690,Portugal,12/18/1987,14247.62,Senior Financial Analyst,
7,2016-02-03 06:47:06,8,Harry,Howell,hhowell7@eepurl.com,Male,91.235.51.73,,Bosnia and Herzegovina,3/1/1962,186469.43,Web Developer IV,
8,2016-02-03 03:52:53,9,Jose,Foster,jfoster8@yelp.com,Male,132.31.53.61,,South Korea,3/27/1992,231067.84,Software Test Engineer I,1E+02
9,2016-02-03 18:29:47,10,Emily,Stewart,estewart9@opensource.org,Female,143.28.251.245,3574254110301671,Nigeria,1/28/1997,27234.28,Health Coach IV,

In [10]:
parquet_datas_allfiles = spark.read.parquet("users*")

In [11]:
parquet_datas_allfiles.limit(10).toPandas()

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,
4,2016-02-03 05:05:31,5,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,NaN,,
5,2016-02-03 07:22:34,6,Kathryn,White,kwhite5@google.com,Female,195.131.81.179,3583136326049310,Indonesia,2/25/1983,69227.11,Account Executive,
6,2016-02-03 08:33:08,7,Samuel,Holmes,sholmes6@foxnews.com,Male,232.234.81.197,3582641366974690,Portugal,12/18/1987,14247.62,Senior Financial Analyst,
7,2016-02-03 06:47:06,8,Harry,Howell,hhowell7@eepurl.com,Male,91.235.51.73,,Bosnia and Herzegovina,3/1/1962,186469.43,Web Developer IV,
8,2016-02-03 03:52:53,9,Jose,Foster,jfoster8@yelp.com,Male,132.31.53.61,,South Korea,3/27/1992,231067.84,Software Test Engineer I,1E+02
9,2016-02-03 18:29:47,10,Emily,Stewart,estewart9@opensource.org,Female,143.28.251.245,3574254110301671,Nigeria,1/28/1997,27234.28,Health Coach IV,

In [12]:
users_1_2  = spark.read.parquet("users1.parquet","users2.parquet")

In [13]:
users_1_2.limit(10).toPandas()

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,
4,2016-02-03 05:05:31,5,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,NaN,,
5,2016-02-03 07:22:34,6,Kathryn,White,kwhite5@google.com,Female,195.131.81.179,3583136326049310,Indonesia,2/25/1983,69227.11,Account Executive,
6,2016-02-03 08:33:08,7,Samuel,Holmes,sholmes6@foxnews.com,Male,232.234.81.197,3582641366974690,Portugal,12/18/1987,14247.62,Senior Financial Analyst,
7,2016-02-03 06:47:06,8,Harry,Howell,hhowell7@eepurl.com,Male,91.235.51.73,,Bosnia and Herzegovina,3/1/1962,186469.43,Web Developer IV,
8,2016-02-03 03:52:53,9,Jose,Foster,jfoster8@yelp.com,Male,132.31.53.61,,South Korea,3/27/1992,231067.84,Software Test Engineer I,1E+02
9,2016-02-03 18:29:47,10,Emily,Stewart,estewart9@opensource.org,Female,143.28.251.245,3574254110301671,Nigeria,1/28/1997,27234.28,Health Coach IV,

In [14]:
students.printSchema()

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parental level of education: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- test preparation course: string (nullable = true)
 |-- math score: integer (nullable = true)
 |-- reading score: integer (nullable = true)
 |-- writing score: integer (nullable = true)

In [16]:
students.columns

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [17]:
students.describe()

DataFrame[summary: string, gender: string, race/ethnicity: string, parental level of education: string, lunch: string, test preparation course: string, math score: string, reading score: string, writing score: string]

In [20]:
students.schema['gender'].dataType

StringType()

In [24]:
students.select("math score", "reading score").summary("count","mean","min","max").show()

+-------+----------+-------------+
|summary|math score|reading score|
+-------+----------+-------------+
|  count|      1000|         1000|
|   mean|    66.089|       69.169|
|    min|         0|           17|
|    max|       100|          100|
+-------+----------+-------------+

In [25]:
from pyspark.sql.types import *

In [32]:
data_schema=[StructField("name",StringType(), True),StructField("email",StringType(), True),StructField("city",StringType(), True),
             StructField("mac",StringType(), True),StructField("timestamp",DateType(), True),StructField("creditcard",StringType(), True)]

In [33]:
data_schema

[StructField('name', StringType(), True),
 StructField('email', StringType(), True),
 StructField('city', StringType(), True),
 StructField('mac', StringType(), True),
 StructField('timestamp', DateType(), True),
 StructField('creditcard', StringType(), True)]

In [34]:
final_struc = StructType(fields=data_schema)

In [35]:
final_struc

StructType([StructField('name', StringType(), True), StructField('email', StringType(), True), StructField('city', StringType(), True), StructField('mac', StringType(), True), StructField('timestamp', DateType(), True), StructField('creditcard', StringType(), True)])

In [36]:
people_schema = spark.read.json("people.json",schema=final_struc)

In [38]:
people_schema

DataFrame[name: string, email: string, city: string, mac: string, timestamp: date, creditcard: string]

In [43]:
people_schema.limit(10).toPandas()

,name,email,city,mac,timestamp,creditcard
0,None,None,None,None,None,None
1,Keeley Bosco,katlyn@jenkinsmaggio.net,Lake Gladysberg,08:fd:0b:cd:77:f7,2015-04-25,1228-1221-1221-1431
2,Rubye Jerde,juvenal@johnston.name,None,90:4d:fa:42:63:a2,2015-04-25,1228-1221-1221-1431
3,Miss Darian Breitenberg,None,None,f9:0e:d3:40:cb:e9,2015-04-25,None
4,Celine Ankunding,emery_kunze@rogahn.net,None,3a:af:c9:0b:5c:08,2015-04-25,1228-1221-1221-1431
5,Dr. Araceli Lang,mavis_lehner@jacobi.name,Yvettemouth,9e:ea:28:41:2a:50,2015-04-25,1211-1221-1234-2201
6,Esteban Von,None,None,2d:e4:f0:dd:90:96,2015-04-25,None
7,Everette Swift,gielle_jacobs@flatleyboehm.biz,None,29:e0:54:7a:b7:ca,2015-04-25,None
8,Terrell Boyle,augustine.conroy@keebler.name,Port Reaganfort,c5:32:09:5a:f7:15,2015-04-25,1228-1221-1221-1431
9,Miss Emmie Muller,None,Kaleyhaven,be:dc:d2:57:81:8b,2015-04-25,None

In [44]:
people_schema.printSchema()

root
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- city: string (nullable = true)
 |-- mac: string (nullable = true)
 |-- timestamp: date (nullable = true)
 |-- creditcard: string (nullable = true)

In [48]:
students.write.mode("overwrite").csv('write_test.csv')

In [47]:
from py4j.java_gateway import java_import
java_import(spark._jvm, 'org.apache.hadoop.fs.Path')

fs = spark._jvm.org.apache.hadoop.fs.FileSystem.get(spark._jsc.hadoopConfiguration())
file = fs.globStatus(spark._jvm.Path('write_test.csv/part*'))[0].getPath().getName()
fs.rename(spark._jvm.Path('write_test.csv/' + file), spark._jvm.Path('write_test2.csv')) #these two need to be different
fs.delete(spark._jvm.Path('write_test.csv'), True)

True

In [49]:
#wrriting parquet file

users_1_2.write.mode("overwrite").csv("write_test.csv")

In [50]:
users_1_2.write.mode("overwrite").parquet("parquet/")

In [51]:
users_1_2.write.partitionBy("gender").parquet("parquet_part/")

In [52]:
value = [('orange',10),("guave",3),("kiwi",44)]

In [53]:
df = spark.createDataFrame(value,['fruit','quant'])

In [54]:
df

DataFrame[fruit: string, quant: bigint]

In [57]:
df.show()

+------+-----+
| fruit|quant|
+------+-----+
|orange|   10|
| guave|    3|
|  kiwi|   44|
+------+-----+

In [56]:
df.toPandas()

    fruit  quant
0  orange     10
1   guave      3
2    kiwi     44

In [59]:
pgatour_schema = spark.read.csv("pgaTourData.csv", inferSchema=True,header=True)

In [62]:
pgatour_schema.columns

['Player Name',
 'Rounds',
 'Fairway Percentage',
 'Year',
 'Avg Distance',
 'gir',
 'Average Putts',
 'Average Scrambling',
 'Average Score',
 'Points',
 'Wins',
 'Top 10',
 'Average SG Putts',
 'Average SG Total',
 'SG:OTT',
 'SG:APR',
 'SG:ARG',
 'Money']

In [64]:
pgatour_schema.limit(4).show()

+--------------+------+------------------+----+------------+-----+-------------+------------------+-------------+------+----+------+--------------------+----------------+-------------------+-------------------+--------------------+----------+
|   Player Name|Rounds|Fairway Percentage|Year|Avg Distance|  gir|Average Putts|Average Scrambling|Average Score|Points|Wins|Top 10|    Average SG Putts|Average SG Total|             SG:OTT|             SG:APR|              SG:ARG|     Money|
+--------------+------+------------------+----+------------+-----+-------------+------------------+-------------+------+----+------+--------------------+----------------+-------------------+-------------------+--------------------+----------+
|Henrik Stenson|  60.0|             75.19|2018|       291.5|73.51|        29.93|             60.67|       69.617|   868|null|   5.0|              -0.207|           1.153|0.42700000000000005|               0.96|-0.02700000000000...|$2,680,487|
|   Ryan Armour| 109.0|             73.58|2018|       283.5|68.22|        29.31|             60.13|       70.758| 1,006| 1.0|   3.0|-0.05799999999999...|           0.337|             -0.012|              0.213| 0.19399999999999998|$2,485,203|
|   Chez Reavie|  93.0|             72.24|2018|       286.5|68.67|        29.12|             62.27|       70.432| 1,020|null|   3.0|               0.192|           0.674|              0.183|0.43700000000000006|-0.13699999999999998|$2,700,018|
|    Ryan Moore|  78.0|             71.94|2018|       289.2| 68.8|        29.17|             64.16|       70.015|   795|null|   5.0|              -0.271|           0.941|              0.406|              0.532|               0.273|$1,986,608|
+--------------+------+------------------+----+------------+-----+-------------+------------------+-------------+------+----+------+--------------------+----------------+-------------------+-------------------+--------------------+----------+

In [65]:
pgatour_schema.limit(4).toPandas()

,Player Name,Rounds,Fairway Percentage,Year,Avg Distance,gir,Average Putts,Average Scrambling,Average Score,Points,Wins,Top 10,Average SG Putts,Average SG Total,SG:OTT,SG:APR,SG:ARG,Money
0,Henrik Stenson,60.0,75.19,2018,291.5,73.51,29.93,60.67,69.617,868,NaN,5.0,-0.207,1.153,0.427,0.960,-0.027,"$2,680,487"
1,Ryan Armour,109.0,73.58,2018,283.5,68.22,29.31,60.13,70.758,"1,006",1.0,3.0,-0.058,0.337,-0.012,0.213,0.194,"$2,485,203"
2,Chez Reavie,93.0,72.24,2018,286.5,68.67,29.12,62.27,70.432,"1,020",NaN,3.0,0.192,0.674,0.183,0.437,-0.137,"$2,700,018"
3,Ryan Moore,78.0,71.94,2018,289.2,68.80,29.17,64.16,70.015,795,NaN,5.0,-0.271,0.941,0.406,0.532,0.273,"$1,986,608"

In [66]:
pgatour_schema.describe()

DataFrame[summary: string, Player Name: string, Rounds: string, Fairway Percentage: string, Year: string, Avg Distance: string, gir: string, Average Putts: string, Average Scrambling: string, Average Score: string, Points: string, Wins: string, Top 10: string, Average SG Putts: string, Average SG Total: string, SG:OTT: string, SG:APR: string, SG:ARG: string, Money: string]

In [67]:
pgatour_schema.select("Points","Money").summary("count","mean","max","min").show()

+-------+------------------+----------+
|summary|            Points|     Money|
+-------+------------------+----------+
|  count|              2296|      2300|
|   mean|348.32852882703776|      null|
|    max|               999|   989,415|
|    min|                 1|$1,002,036|
+-------+------------------+----------+