<a href="https://colab.research.google.com/github/sohaildua/PysparkLearning/blob/main/PysparkSql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark
!pip install -U -q PyDrive --quiet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 39 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=c1c5ba9f46904ae9575253e7113d4fa3df42c717fdc2e716b11e120efe832f15
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkSql").getOrCreate()
spark

# New Section

In [4]:
crime = spark.read.csv("rec-crime-pfa.csv",inferSchema=True, header=True)

In [5]:
crime.printSchema()

root
 |-- 12 months ending: string (nullable = true)
 |-- PFA: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Offence: string (nullable = true)
 |-- Rolling year total number of offences: integer (nullable = true)

In [6]:
crime.limit(4).show()

+----------------+-----------------+----------+--------------------+-------------------------------------+
|12 months ending|              PFA|    Region|             Offence|Rolling year total number of offences|
+----------------+-----------------+----------+--------------------+-------------------------------------+
|      31/03/2003|Avon and Somerset|South West|All other theft o...|                                25959|
|      31/03/2003|Avon and Somerset|South West|       Bicycle theft|                                 3090|
|      31/03/2003|Avon and Somerset|South West|Criminal damage a...|                                26202|
|      31/03/2003|Avon and Somerset|South West|Death or serious ...|                                    2|
+----------------+-----------------+----------+--------------------+-------------------------------------+

In [7]:
crime.toPandas()

,12 months ending,PFA,Region,Offence,Rolling year total number of offences
0,31/03/2003,Avon and Somerset,South West,All other theft offences,25959
1,31/03/2003,Avon and Somerset,South West,Bicycle theft,3090
2,31/03/2003,Avon and Somerset,South West,Criminal damage and arson,26202
3,31/03/2003,Avon and Somerset,South West,Death or serious injury caused by illegal driving,2
4,31/03/2003,Avon and Somerset,South West,Domestic burglary,14561
...,...,...,...,...,...
46464,31/12/2018,Wiltshire,South West,Stalking and harassment,2380
46465,31/12/2018,Wiltshire,South West,Theft from the person,347
46466,31/12/2018,Wiltshire,South West,Vehicle offences,2895
46467,31/12/2018,Wiltshire,South West,Violence with injury,5701
46468,31/12/2018,Wiltshire,South West,Violence without injury,5840

In [8]:
df = crime.withColumnRenamed('Rolling year total number of offences', 'CountOffences')

In [9]:
df

DataFrame[12 months ending: string, PFA: string, Region: string, Offence: string, CountOffences: int]

In [10]:
df.createOrReplaceTempView("TempView")

In [21]:
spark.sql("Select Region, Offence from TempView where CountOffences >300000").toPandas()

                Region       Offence
0         Fraud: CIFAS         CIFAS
1         Fraud: CIFAS         CIFAS
2         Fraud: CIFAS         CIFAS
3         Fraud: CIFAS         CIFAS
4  Fraud: Action Fraud  Action Fraud

In [27]:
spark.sql("select Region ,PFA , sum(CountOffences) from TempView GROUP BY Region,PFA").show()

+--------------------+-------------------+------------------+
|              Region|                PFA|sum(CountOffences)|
+--------------------+-------------------+------------------+
|                East|              Essex|           5938998|
|        Fraud: CIFAS|              CIFAS|           7678981|
|              London|Metropolitan Police|          42358281|
|          South East|               Kent|           6452567|
|       West Midlands|      West Midlands|          11320518|
|Yorkshire and The...|         Humberside|           4325685|
|                East|     Cambridgeshire|           3006281|
|                East|       Bedfordshire|           2328534|
|               Wales|        North Wales|           2307437|
|               Wales|        South Wales|           5309011|
|          South East|             Sussex|           5434316|
|          North West|            Cumbria|           1510798|
|          South West| Devon and Cornwall|           4991544|
|          South West|          Wiltshire|           2030706|
|                East|      Hertfordshire|           3676310|
|          South West|  Avon and Somerset|           6606674|
|       East Midlands|     Leicestershire|           3889279|
|          South East|          Hampshire|           7351498|
|   Fraud: UK Finance|         UK Finance|           2925861|
|          North West|         Lancashire|           5821965|
+--------------------+-------------------+------------------+
only showing top 20 rows

In [32]:
from pyspark.ml.feature import SQLTransformer

In [36]:
sqlTrans=SQLTransformer(statement="select sum(CountOffences) from __THIS__")

In [37]:
sqlTrans.transform(df).show()

+------------------+
|sum(CountOffences)|
+------------------+
|         244720928|
+------------------+

In [35]:
from pyspark.sql.functions import expr

In [39]:
df.withColumn('percent', expr('(CountOffences/244720928)* 100')).show()

+----------------+-----------------+----------+--------------------+-------------+--------------------+
|12 months ending|              PFA|    Region|             Offence|CountOffences|             percent|
+----------------+-----------------+----------+--------------------+-------------+--------------------+
|      31/03/2003|Avon and Somerset|South West|All other theft o...|        25959|0.010607592988532637|
|      31/03/2003|Avon and Somerset|South West|       Bicycle theft|         3090|0.001262662750281823|
|      31/03/2003|Avon and Somerset|South West|Criminal damage a...|        26202| 0.01070688976792373|
|      31/03/2003|Avon and Somerset|South West|Death or serious ...|            2|8.172574435481055E-7|
|      31/03/2003|Avon and Somerset|South West|   Domestic burglary|        14561|0.005950042817751...|
|      31/03/2003|Avon and Somerset|South West|       Drug offences|         2308|9.431150898545138E-4|
|      31/03/2003|Avon and Somerset|South West|      Fraud offences|         5339|0.002181668745551668|
|      31/03/2003|Avon and Somerset|South West|            Homicide|           19|7.763945713707002E-6|
|      31/03/2003|Avon and Somerset|South West|Miscellaneous cri...|         1597|6.525800686731623E-4|
|      31/03/2003|Avon and Somerset|South West|Non-domestic burg...|        15621|0.006383189262832478|
|      31/03/2003|Avon and Somerset|South West|Possession of wea...|          735|3.003421105039288E-4|
|      31/03/2003|Avon and Somerset|South West|Public order offe...|         4025|0.001644730605140...|
|      31/03/2003|Avon and Somerset|South West|             Robbery|         3504|0.001431835041096281|
|      31/03/2003|Avon and Somerset|South West|     Sexual offences|         1737|7.097880897215296E-4|
|      31/03/2003|Avon and Somerset|South West|         Shoplifting|         8410|0.003436567550119...|
|      31/03/2003|Avon and Somerset|South West|Stalking and hara...|          740|3.023852541127990...|
|      31/03/2003|Avon and Somerset|South West|Theft from the pe...|         2554|0.001043637755410...|
|      31/03/2003|Avon and Somerset|South West|    Vehicle offences|        41781|  0.0170729166244417|
|      31/03/2003|Avon and Somerset|South West|Violence with injury|         8565|0.003499905001994...|
|      31/03/2003|Avon and Somerset|South West|Violence without ...|         7117|0.002908210612865...|
+----------------+-----------------+----------+--------------------+-------------+--------------------+
only showing top 20 rows

In [43]:
df.selectExpr("*", '(CountOffences/244720928)* 100 as percent').filter("Region='South West'").show()

+----------------+-----------------+----------+--------------------+-------------+--------------------+
|12 months ending|              PFA|    Region|             Offence|CountOffences|             percent|
+----------------+-----------------+----------+--------------------+-------------+--------------------+
|      31/03/2003|Avon and Somerset|South West|All other theft o...|        25959|0.010607592988532637|
|      31/03/2003|Avon and Somerset|South West|       Bicycle theft|         3090|0.001262662750281823|
|      31/03/2003|Avon and Somerset|South West|Criminal damage a...|        26202| 0.01070688976792373|
|      31/03/2003|Avon and Somerset|South West|Death or serious ...|            2|8.172574435481055E-7|
|      31/03/2003|Avon and Somerset|South West|   Domestic burglary|        14561|0.005950042817751...|
|      31/03/2003|Avon and Somerset|South West|       Drug offences|         2308|9.431150898545138E-4|
|      31/03/2003|Avon and Somerset|South West|      Fraud offences|         5339|0.002181668745551668|
|      31/03/2003|Avon and Somerset|South West|            Homicide|           19|7.763945713707002E-6|
|      31/03/2003|Avon and Somerset|South West|Miscellaneous cri...|         1597|6.525800686731623E-4|
|      31/03/2003|Avon and Somerset|South West|Non-domestic burg...|        15621|0.006383189262832478|
|      31/03/2003|Avon and Somerset|South West|Possession of wea...|          735|3.003421105039288E-4|
|      31/03/2003|Avon and Somerset|South West|Public order offe...|         4025|0.001644730605140...|
|      31/03/2003|Avon and Somerset|South West|             Robbery|         3504|0.001431835041096281|
|      31/03/2003|Avon and Somerset|South West|     Sexual offences|         1737|7.097880897215296E-4|
|      31/03/2003|Avon and Somerset|South West|         Shoplifting|         8410|0.003436567550119...|
|      31/03/2003|Avon and Somerset|South West|Stalking and hara...|          740|3.023852541127990...|
|      31/03/2003|Avon and Somerset|South West|Theft from the pe...|         2554|0.001043637755410...|
|      31/03/2003|Avon and Somerset|South West|    Vehicle offences|        41781|  0.0170729166244417|
|      31/03/2003|Avon and Somerset|South West|Violence with injury|         8565|0.003499905001994...|
|      31/03/2003|Avon and Somerset|South West|Violence without ...|         7117|0.002908210612865...|
+----------------+-----------------+----------+--------------------+-------------+--------------------+
only showing top 20 rows

In [53]:
spark1 = SparkSession.builder.appName("SparkSql1").getOrCreate()
spark1
google= spark1.read.csv("googleplaystore.csv",inferSchema=True, header=True)

In [61]:
google.printSchema()
google.show()

root
 |-- App: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Reviews: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Installs: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Content Rating: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Last Updated: string (nullable = true)
 |-- Current Ver: string (nullable = true)
 |-- Android Ver: string (nullable = true)

+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------------+------------------+------------+
|                 App|      Category|Rating|Reviews|Size|   Installs|Type|Price|Content Rating|              Genres|      Last Updated|       Current Ver| Android Ver|
+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------------+------------------+------------+
|Photo Editor & Ca...|ART_AND_DESIGN|   4.1|    159| 19M|    10,000+|Free|    0|      Everyone|        Art & Design|   January 7, 2018|             1.0.0|4.0.3 and up|
| Coloring book moana|ART_AND_DESIGN|   3.9|    967| 14M|   500,000+|Free|    0|      Everyone|Art & Design;Pret...|  January 15, 2018|             2.0.0|4.0.3 and up|
|U Launcher Lite –...|ART_AND_DESIGN|   4.7|  87510|8.7M| 5,000,000+|Free|    0|      Everyone|        Art & Design|    August 1, 2018|             1.2.4|4.0.3 and up|
|Sketch - Draw & P...|ART_AND_DESIGN|   4.5| 215644| 25M|50,000,000+|Free|    0|          Teen|        Art & Design|      June 8, 2018|Varies with device|  4.2 and up|
|Pixel Draw - Numb...|ART_AND_DESIGN|   4.3|    967|2.8M|   100,000+|Free|    0|      Everyone|Art & Design;Crea...|     June 20, 2018|               1.1|  4.4 and up|
|Paper flowers ins...|ART_AND_DESIGN|   4.4|    167|5.6M|    50,000+|Free|    0|      Everyone|        Art & Design|    March 26, 2017|               1.0|  2.3 and up|
|Smoke Effect Phot...|ART_AND_DESIGN|   3.8|    178| 19M|    50,000+|Free|    0|      Everyone|        Art & Design|    April 26, 2018|               1.1|4.0.3 and up|
|    Infinite Painter|ART_AND_DESIGN|   4.1|  36815| 29M| 1,000,000+|Free|    0|      Everyone|        Art & Design|     June 14, 2018|          6.1.61.1|  4.2 and up|
|Garden Coloring Book|ART_AND_DESIGN|   4.4|  13791| 33M| 1,000,000+|Free|    0|      Everyone|        Art & Design|September 20, 2017|             2.9.2|  3.0 and up|
|Kids Paint Free -...|ART_AND_DESIGN|   4.7|    121|3.1M|    10,000+|Free|    0|      Everyone|Art & Design;Crea...|      July 3, 2018|               2.8|4.0.3 and up|
|Text on Photo - F...|ART_AND_DESIGN|   4.4|  13880| 28M| 1,000,000+|Free|    0|      Everyone|        Art & Design|  October 27, 2017|             1.0.4|  4.1 and up|
|Name Art Photo Ed...|ART_AND_DESIGN|   4.4|   8788| 12M| 1,000,000+|Free|    0|      Everyone|        Art & Design|     July 31, 2018|            1.0.15|  4.0 and up|
|Tattoo Name On My...|ART_AND_DESIGN|   4.2|  44829| 20M|10,000,000+|Free|    0|          Teen|        Art & Design|     April 2, 2018|               3.8|  4.1 and up|
|Mandala Coloring ...|ART_AND_DESIGN|   4.6|   4326| 21M|   100,000+|Free|    0|      Everyone|        Art & Design|     June 26, 2018|             1.0.4|  4.4 and up|
|3D Color Pixel by...|ART_AND_DESIGN|   4.4|   1518| 37M|   100,000+|Free|    0|      Everyone|        Art & Design|    August 3, 2018|             1.2.3|  2.3 and up|
|Learn To Draw Kaw...|ART_AND_DESIGN|   3.2|     55|2.7M|     5,000+|Free|    0|      Everyone|        Art & Design|      June 6, 2018|               NaN|  4.2 and up|
|Photo Designer - ...|ART_AND_DESIGN|   4.7|   3632|5.5M|   500,000+|Free|    0|      Everyone|        Art & Design|     July 31, 2018|               3.1|  4.1 and up|
|350 Diy Room Deco...|ART_AND_DESIGN|   4.5|     27| 17M|    10,000+|Free|    0|      Everyone|        Art & Design|  November 7, 2017|               1.0|  2.3 and up|
|FlipaClip - Carto...|ART_AND_DESIGN|   4.3| 194216| 39M| 5,000,000+|Free|    0|      Everyone|        Art & Design|    August 3, 2018|             2.2.5|4.0.3 and up|
|        ibis Paint X|ART_AND_DESIGN|   4.6| 224399| 31M|10,000,000+|Free|    0|      Everyone|        Art & Design|     July 30, 2018|             5.5.4|  4.1 and up|
+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------------+------------------+------------+
only showing top 20 rows

In [56]:
from pyspark.sql.types import *

In [58]:
google_final =google.withColumn("Rating",google["Rating"].cast(FloatType())).\
withColumn("Reviews",google["Reviews"].cast(IntegerType())).\
withColumn("Price",google["Price"].cast(IntegerType()))

In [60]:
google_final.createOrReplaceTempView("TempView1")

In [65]:
spark1.sql("select * from TempView1 where Rating>4.1").show()

+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------------+------------------+------------+
|                 App|      Category|Rating|Reviews|Size|   Installs|Type|Price|Content Rating|              Genres|      Last Updated|       Current Ver| Android Ver|
+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------------+------------------+------------+
|U Launcher Lite –...|ART_AND_DESIGN|   4.7|  87510|8.7M| 5,000,000+|Free|    0|      Everyone|        Art & Design|    August 1, 2018|             1.2.4|4.0.3 and up|
|Sketch - Draw & P...|ART_AND_DESIGN|   4.5| 215644| 25M|50,000,000+|Free|    0|          Teen|        Art & Design|      June 8, 2018|Varies with device|  4.2 and up|
|Pixel Draw - Numb...|ART_AND_DESIGN|   4.3|    967|2.8M|   100,000+|Free|    0|      Everyone|Art & Design;Crea...|     June 20, 2018|               1.1|  4.4 and up|
|Paper flowers ins...|ART_AND_DESIGN|   4.4|    167|5.6M|    50,000+|Free|    0|      Everyone|        Art & Design|    March 26, 2017|               1.0|  2.3 and up|
|Garden Coloring Book|ART_AND_DESIGN|   4.4|  13791| 33M| 1,000,000+|Free|    0|      Everyone|        Art & Design|September 20, 2017|             2.9.2|  3.0 and up|
|Kids Paint Free -...|ART_AND_DESIGN|   4.7|    121|3.1M|    10,000+|Free|    0|      Everyone|Art & Design;Crea...|      July 3, 2018|               2.8|4.0.3 and up|
|Text on Photo - F...|ART_AND_DESIGN|   4.4|  13880| 28M| 1,000,000+|Free|    0|      Everyone|        Art & Design|  October 27, 2017|             1.0.4|  4.1 and up|
|Name Art Photo Ed...|ART_AND_DESIGN|   4.4|   8788| 12M| 1,000,000+|Free|    0|      Everyone|        Art & Design|     July 31, 2018|            1.0.15|  4.0 and up|
|Tattoo Name On My...|ART_AND_DESIGN|   4.2|  44829| 20M|10,000,000+|Free|    0|          Teen|        Art & Design|     April 2, 2018|               3.8|  4.1 and up|
|Mandala Coloring ...|ART_AND_DESIGN|   4.6|   4326| 21M|   100,000+|Free|    0|      Everyone|        Art & Design|     June 26, 2018|             1.0.4|  4.4 and up|
|3D Color Pixel by...|ART_AND_DESIGN|   4.4|   1518| 37M|   100,000+|Free|    0|      Everyone|        Art & Design|    August 3, 2018|             1.2.3|  2.3 and up|
|Photo Designer - ...|ART_AND_DESIGN|   4.7|   3632|5.5M|   500,000+|Free|    0|      Everyone|        Art & Design|     July 31, 2018|               3.1|  4.1 and up|
|350 Diy Room Deco...|ART_AND_DESIGN|   4.5|     27| 17M|    10,000+|Free|    0|      Everyone|        Art & Design|  November 7, 2017|               1.0|  2.3 and up|
|FlipaClip - Carto...|ART_AND_DESIGN|   4.3| 194216| 39M| 5,000,000+|Free|    0|      Everyone|        Art & Design|    August 3, 2018|             2.2.5|4.0.3 and up|
|        ibis Paint X|ART_AND_DESIGN|   4.6| 224399| 31M|10,000,000+|Free|    0|      Everyone|        Art & Design|     July 30, 2018|             5.5.4|  4.1 and up|
|Superheroes Wallp...|ART_AND_DESIGN|   4.7|   7699|4.2M|   500,000+|Free|    0|  Everyone 10+|        Art & Design|     July 12, 2018|           2.2.6.2|4.0.3 and up|
|Mcqueen Coloring ...|ART_AND_DESIGN|   NaN|     61|7.0M|   100,000+|Free|    0|      Everyone|Art & Design;Acti...|     March 7, 2018|             1.0.0|  4.1 and up|
|HD Mickey Minnie ...|ART_AND_DESIGN|   4.7|    118| 23M|    50,000+|Free|    0|      Everyone|        Art & Design|      July 7, 2018|             1.1.3|  4.1 and up|
|Harley Quinn wall...|ART_AND_DESIGN|   4.8|    192|6.0M|    10,000+|Free|    0|      Everyone|        Art & Design|    April 25, 2018|               1.5|  3.0 and up|
|Colorfit - Drawin...|ART_AND_DESIGN|   4.7|  20260| 25M|   500,000+|Free|    0|      Everyone|Art & Design;Crea...|  October 11, 2017|             1.0.8|4.0.3 and up|
+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------------+------------------+------------+
only showing top 20 rows

In [72]:
spark1.sql("select Category , count(Category) from TempView1 group by Category ").show()
spark1.sql("select App,Rating from TempView1 where Rating>4.5 and Category='COMICS'").show(100,False)

+-------------------+---------------+
|           Category|count(Category)|
+-------------------+---------------+
|             EVENTS|             64|
|             COMICS|             60|
|             SPORTS|            384|
|            WEATHER|             82|
|      VIDEO_PLAYERS|            175|
|  AUTO_AND_VEHICLES|             85|
|          PARENTING|             60|
|      ENTERTAINMENT|            149|
|    PERSONALIZATION|            392|
| HEALTH_AND_FITNESS|            340|
|   TRAVEL_AND_LOCAL|            258|
|BOOKS_AND_REFERENCE|            231|
|     FOOD_AND_DRINK|            127|
|        PHOTOGRAPHY|            335|
|           BUSINESS|            460|
|             FAMILY|           1972|
|           SHOPPING|            260|
|     HOUSE_AND_HOME|             88|
|               GAME|           1144|
|               Face|              1|
+-------------------+---------------+
only showing top 20 rows

+-------------------------------------------------------------------------------+------+
|App                                                                            |Rating|
+-------------------------------------------------------------------------------+------+
|Manga Master - Best manga & comic reader                                       |4.6   |
|GANMA! - All original stories free of charge for all original comics           |4.7   |
|Röhrich Werner Soundboard                                                      |4.7   |
|Unicorn Pokez - Color By Number                                                |4.8   |
|Manga - read Thai translation                                                  |4.6   |
|Dragon Ball Wallpaper - Ringtones                                              |4.7   |
|Children's cartoons (Mithu-Mina-Raju)                                          |4.6   |
|【Ranobbe complete free】 Novelba - Free app that you can read and write novels|NaN   |
|Faustop Sounds                                                                 |4.7   |
|Hojiboy Tojiboyev Life Hacks                                                   |5.0   |
|Best Wallpapers Backgrounds(100,000+ 4K HD)                                    |4.7   |
|Laftel - Watching and Announcing Snooping, Streaming                           |4.6   |
|WebComics                                                                      |4.8   |
|Superheroes, Marvel, DC, Comics, TV, Movies News                               |5.0   |
|Pepsi Cards DC                                                                 |NaN   |
+-------------------------------------------------------------------------------+------+

In [81]:
spark1.sql("select  Category ,Sum(Reviews) from TempView1 GROUP BY Category ORDER BY SUM(Reviews) DESC limit 1").show(100,False)

+--------+------------+
|Category|sum(Reviews)|
+--------+------------+
|GAME    |1585422349  |
+--------+------------+